<div id="dash" class="container-fluid">
    <div ng-show="alert" ng-show="alert" class="alert-blue margin lighten-5">
        <div class="row no-margin">
            <p class="col no-margin s11">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus.</p>
            <p class="col no-margin s1 right-align"><i ng-click="alert=false" class="fa fa-times"></i></p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div style="min-height: 50vh" class="card-panel white">
                <div ng-show="latestOrders.length">
                    <div class="card-header">
                        <h5>My Recent Orders</h5>
                    </div>
                    <hr>
                    <br>
                    <table id="" class="table responsive-table highlight">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Status</th>
                                <th>Market</th>
                                <th>Price</th>
                                <th>Volume</th>
                                <th>Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="order in latestOrders">
                                <td class="text-capital">
                                    {{order.type}}
                                </td>
                                <td>
                                    {{order.status}}
                                </td>
                                <td>{{order.market}}
                                </td>
                                <td>{{order.total | number:2}}</td>
                                <td>{{order.coins_vol}}</td>
                                <td>{{order.trade_date}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-hide="latestOrders.length" class="valign-wrapper">
                    <h5 class="center full-width">You don't have any recent orders. Try placing one !!</h5>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card-panel white col s12">
                <div class="input-field">
                    <i class="fa fa-search prefix"></i>
                    <input id="search" ng-model="filtercoins" type="text" class="validate">
                    <label for="search">Search</label>
                </div>
            </div>
            <h5 class="full-width center-align"><strong>Recent Movers</strong></h5>
            <style>
                .moveup-text {
                    color: darkgreen;
                    margin-left: 15px;
                    font-weight: bolder;
                }

                .movedown-text {
                    color: red;
                    margin-left: 15px;
                    font-weight: bolder;
                }

            </style>
            <div class="col full-width">
                <div class="flex movers">
                    <div ng-repeat="coin in coins | filter: filtercoins |orderBy : '-recentmovers' | limitTo : 5" class="card-panel blue lighten-1 white-text">
                        <div class="flex space-between">
                            <div class="valign-wrapper">
                                <div>
                                    <div><big>{{coin.name}}<span ng-class="coin.recentmovers < 0 ? 'movedown-text' : 'moveup-text'">{{coin.recentmovers+'%'}}</span></big></div>
                                    <div><small>Current Price :</small><small> {{coin.price}}</small></div>
                                </div>
                            </div>
                            <div class="valign-wrapper">
                                <div class="wallet-icon">
                                    <i class="fa fa-envelope"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
