<div id="wallet" class="container-fluid">
    <div ng-show="alert" ng-show="alert" class="alert-blue margin lighten-5">
        <div class="row no-margin">
            <p class="col no-margin s11">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus.</p>
            <p class="col no-margin s1 right-align"><i ng-click="alert=false" class="fa fa-times"></i></p>
        </div>
    </div>
    <div class="row">
        <div class="col s12">

        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card white">
                <div class="card-action top">
                    <big><strong>KYC</strong></big>
                </div>
                <div class="card-content">
                    <div style='padding-top:10px;padding-bottom:50px'>
                        <form id="QuoteForm" class="QuoteForm">
                            <fieldset>
                                <h3 class="section-title">Step {{progress}} of 5</h3>
                                <br>
                                <div class="form-layer-steps form-layer-tolal-steps-4">
                                    <div class="form-layer-progress">
                                        <div class="form-layer-progress-line" style="width: {{progress*(100 / max_steps)}}%;"></div>
                                    </div>
                                    <!-- Step 1 -->
                                    <div class="form-layer-step" style="width: {{100/max_steps}}%" ng-class="{active: progress > (max_steps - 4 + 0.9)}">
                                        <div class="form-layer-step-icon activestep"><i class="fa fa-user"></i></div>
                                        <p>Personal Info</p>
                                    </div>
                                    <!-- Step 1 -->

                                    <!-- Step 2 -->
                                    <div class="form-layer-step" style="width: {{100/max_steps}}%" ng-class="{active: progress > (max_steps - 3 + 0.9)}">
                                        <div class="form-layer-step-icon"><i class="fa fa-hands-helping"></i></div>
                                        <p>Upload Docs</p>
                                    </div>
                                    <!-- Step 3 -->

                                    <div class="form-layer-step" style="width: {{100/max_steps}}%" ng-class="{active: progress > (max_steps - 2 + 0.9)}">
                                        <div class="form-layer-step-icon"><i class="fa fa-address-card"></i></div>
                                        <p>KYC Review</p>
                                    </div>
                                    <!-- Step 4 -->
                                    <div class="form-layer-step" style="width: {{100/max_steps}}%" ng-class="{active: progress > (max_steps - 1 + 0.9)}">
                                        <div class="form-layer-step-icon"><i class="fa fa-check"></i></div>
                                        <p>Approved</p>
                                    </div>
                                    <!-- Step 4 -->
                                </div>
                            </fieldset>
                        </form>
                        <style>
                            .QuoteForm-section h3.section-title {
                                background-color: rgba(62, 62, 62, 0.9);
                                border: 1px solid rgba(62, 62, 62, 0.9);
                                border-radius: 10px;
                                color: #fff;
                                font-weight: bold;
                                padding: 10px;
                                margin: 50px 0;
                                text-align: center;
                            }

                            #QuoteForm .form-layer-steps {
                                margin: 0 0 50px;
                                overflow: hidden;
                                position: relative;
                            }

                            #QuoteForm .form-layer-progress {
                                background-color: #b5b5b5;
                                height: 1px;
                                left: 0;
                                position: absolute;
                                top: 26px;
                                width: 100%;
                            }

                            #QuoteForm .form-layer-progress-line {
                                background-color: #0379ca;
                                height: 1px;
                                left: 0;
                                position: absolute;
                                top: 0;
                            }

                            #QuoteForm .form-layer-tolal-steps-4 .form-layer-step {
                                float: left;
                                padding: 0;
                                position: relative;
                                text-align: center;
                            }

                            #QuoteForm .form-layer-step-icon {
                                background-color: #b5b5b5;
                                border-radius: 50% !important;
                                color: #fff;
                                display: inline-block;
                                font-size: 16px;
                                height: 40px;
                                line-height: 40px;
                                margin-top: 4px;
                                width: 40px;
                                text-align: center;
                            }

                            #QuoteForm .form-layer-step.active .form-layer-step-icon {
                                background-color: #0379ca;
                                font-size: 22px;
                                height: 48px;
                                line-height: 48px;
                                margin-top: 0;
                                width: 48px;
                            }

                            .page-content {
                                background: #fff;
                                padding: 0px;
                            }

                            .alert {
                                display: none;
                            }

                            .ver-center {
                                display: flex;
                                margin: 0 auto;
                            }

                        </style>

                        <div class="container">
                            <article ng-if="progress==1">
                                <div class="row">
                                    <div class="col s12 m6">
                                        <div class="profile-img">
                                            <img src="6.jpg" class="img-rounded" style="height:320px; width:320px; padding: 10px 0;">
                                            <div class="">
                                                <!--<a class="btn btn-primary" ng-href="!#/camera">Click Now</a>-->
                                                <input type="file" accept="image/*">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 m6">
                                        <h4>Instructions</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa quaerat, reprehenderit! Placeat hic sit laboriosam quos sequi veniam possimus dignissimos cumque fugiat amet! Ipsa vitae iure placeat odit molestias saepe!</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa quaerat, reprehenderit! Placeat hic sit laboriosam quos sequi veniam possimus dignissimos cumque fugiat amet! Ipsa vitae iure placeat odit molestias saepe!</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col s12 m6">
                                        <div class="input-group">
                                            <label for="fName">First Name:</label>
                                            <input type="text" class="form-control" id="fName">
                                        </div>
                                        <label class="radio-inline">
                                          <input type="radio" name="gender">Male
                                        </label>
                                        <label class="radio-inline">
                                          <input type="radio" name="gender">Female
                                        </label>


                                    </div>
                                    <!-- /.col-lg-6 -->
                                    <div class="col s12 m6">
                                        <div class="input-group">
                                            <label for="lName">Last Name:</label>
                                            <input type="text" class="form-control" id="lName">
                                        </div>

                                    </div>

                                    <div class="col s12 m6">
                                        <div class="input-group">
                                            <label for="add1">Address Line 1:</label>
                                            <input type="text" class="form-control" id="add1">
                                        </div>

                                    </div>

                                    <div class="col s12 m6">
                                        <div class="input-group">
                                            <label for="add2">Address Line 2:</label>
                                            <input type="text" class="form-control" id="add2">
                                        </div>

                                    </div>
                                    <div class="col s12 m6">
                                        <div class="input-group">
                                            <label for="city">City:</label>
                                            <input type="text" class="form-control" id="city">
                                        </div>

                                    </div>
                                    <div class="col s12 m6">
                                        <div class="input-group">
                                            <label for="state">State/Province/Region:</label>
                                            <input type="text" class="form-control" id="state">
                                        </div>

                                    </div>
                                    <div class="col s12 m3">
                                        <div class="input-group">
                                            <label for="country">Country of Residence:</label>
                                            <input type="text" class="form-control" id="country">
                                        </div>

                                    </div>
                                    <div class="col s12 m3">
                                        <div class="input-group">
                                            <label for="zip">ZIP/Postal Code:</label>
                                            <input type="text" class="form-control" id="zip">
                                        </div>

                                    </div>

                                    <div class="col s12 m6">
                                        <div class="input-group">
                                            <label for="mobile">Mobile (with Country Code):</label>
                                            <input type="text" class="form-control" id="mobile">
                                        </div>

                                    </div>
                                    <div class="col s12 m6">
                                        <div class="input-group">
                                            <label for="dob">Date of Birth (YYYY-MM-DD):</label>
                                            <input type="text" class="form-control" id="dob">
                                        </div>

                                    </div>

                                </div>
                                <br>
                            </article>
                            <article ng-if="progress==2">
                                <br><br>
                                <div class="row">
                                    <h5 ng-show="(score < 100)" class="red-text center"> We follow a strict 100 point check !! You need <span class="text-bolder">{{100-score}}</span> more points to pass this step.</h5>
                                    <h5 ng-show="(score >= 100)" class="green-text center"> We follow a strict 100 point check !! Your score is <span class="text-bolder">{{score}}</span>.</h5>

                                    <div class="col s12 m6">
                                        <div class="input-group">
                                            <label for="kycname">Full Name:</label>
                                            <input type="text" class="form-control" id="kycname">
                                        </div>
                                    </div>
                                    <div class="col s12 m6">
                                        <div class="input-group">
                                            <label for="kycadd">Address as in Document:</label>
                                            <input type="text" class="form-control" id="kycadd">
                                        </div>
                                    </div>
                                    <div ng-repeat="item in userdocs track by $index">
                                        <div class="col s12 m6">
                                            <div class="input-group">
                                                <label>ID Type:</label>
                                                <select class="browser-default" ng-model="userdocs[$index]" ng-change="updateDocs($index)">
                                                    <option value=0 disabled>Choose a type</option>
                                                    <option ng-repeat="option in supported_docs" value="{{option.idType}}" ng-disabled="{{userdocs.includes(option.idType)}}">{{option.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col s12 m6">
                                            <div class="file-field input-field">
                                                <div class="btn">
                                                    <span>Supporting Docs</span>
                                                    <input type="file" multiple>
                                                </div>
                                                <div class="file-path-wrapper">
                                                    <input class="file-path validate" type="text" placeholder="Upload one or more files">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col s12 m6">
                                            <div class="input-group">
                                                <label for="country">Country of Residence:</label>
                                                <input type="text" class="form-control" id="country">
                                            </div>

                                        </div>
                                        <div class="col s12 m6">
                                            <div class="input-group">
                                                <label for="idNum">ID Number:</label>
                                                <input type="text" class="form-control" id="idNum">
                                            </div>

                                        </div>
                                        <div class="col s12 m6">
                                            <div class="input-group">
                                                <label for="idFrom">ID Issued On(YYYY-MM-DD):</label>
                                                <input type="text" class="form-control" id="idFrom">
                                            </div>

                                        </div>
                                        <div class="col s12 m6">
                                            <div class="input-group">
                                                <label for="idTo">ID Expiry Date(YYYY-MM-DD):</label>
                                                <input type="text" class="form-control" id="idTo">
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                            </article>
                            <article ng-if="progress==3">
                                <br>
                                <div class="row">
                                    <div class="col s12">
                                        <h3 class=" orange-text underline">Your Application is in Review</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa quaerat, reprehenderit! Placeat hic sit laboriosam quos sequi veniam possimus dignissimos cumque fugiat amet! Ipsa vitae iure placeat odit molestias saepe!</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa quaerat, reprehenderit! Placeat hic sit laboriosam quos sequi veniam possimus dignissimos cumque fugiat amet! Ipsa vitae iure placeat odit molestias saepe!</p>
                                    </div>
                                </div>
                                <br>
                            </article>
                            <article ng-if="progress==4">
                                <br>
                                <div class="row">
                                    <div class="col s12">
                                        <h3 style="padding: 18px 0; border-radius: 5px;" class="green white-text center"><strong>Your Verification Process is Complete !!</strong><br></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa quaerat, reprehenderit! Placeat hic sit laboriosam quos sequi veniam possimus dignissimos cumque fugiat amet! Ipsa vitae iure placeat odit molestias saepe!</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa quaerat, reprehenderit! Placeat hic sit laboriosam quos sequi veniam possimus dignissimos cumque fugiat amet! Ipsa vitae iure placeat odit molestias saepe!</p>
                                    </div>
                                </div>
                                <br>
                            </article>
                            <!-- /.row -->
                            <div ng-if="progress<3" class="btn-group pull-right">
                                <button ng-click="save()" type="button" class="btn btn-info">Save</button>
                                <button ng-click="submit()" type="button" class="btn btn-primary">Submit</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
