<div id="market" class="container-fluid">
    <div class="alert-blue margin lighten-5">
        <div class="row no-margin">
            <p class="col no-margin s11">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus.</p>
            <p class="col no-margin s1 right-align"><i class="fa fa-times"></i></p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="card white">
                <div class="card-action top">
                    <big><strong>Order Book</strong></big>
                </div>
                <div class="card-content">
                    <div class="row">
                        <div class="col s12 m6">
                            <div>
                                <h4><strong>Buy Orders</strong></h4>
                            </div>
                            <div>
                                <table class="table centered striped bordered">
                                    <thead>
                                        <tr>
                                            <th><b>Amount</b></th>
                                            <th><b>Volume</b></th>
                                            <th><b>Bid</b></th>
                                        </tr>
                                    </thead>
                                    <tbody class="order_book" id="buy_orders">
                                        <tr data-id="74" data-volume="500" data-amount="66" onclick="quick_buy(this)">
                                            <td>33,000.0000</td>
                                            <td>500</td>
                                            <td>66.0000</td>
                                        </tr>
                                        <tr data-id="71" data-volume="20" data-amount="50" onclick="quick_buy(this)">
                                            <td>1,000.0000</td>
                                            <td>20</td>
                                            <td>50.0000</td>
                                        </tr>
                                        <tr data-id="69" data-volume="10" data-amount="12" onclick="quick_buy(this)">
                                            <td>120.0000</td>
                                            <td>10</td>
                                            <td>12.0000</td>
                                        </tr>
                                        <tr data-id="68" data-volume="1" data-amount="100" onclick="quick_buy(this)">
                                            <td>100.0000</td>
                                            <td>1</td>
                                            <td>100.0000</td>
                                        </tr>
                                        <tr data-id="56" data-volume="6" data-amount="66" onclick="quick_buy(this)">
                                            <td>396.0000</td>
                                            <td>6</td>
                                            <td>66.0000</td>
                                        </tr>
                                        <tr data-id="55" data-volume="6" data-amount="7" onclick="quick_buy(this)">
                                            <td>42.0000</td>
                                            <td>6</td>
                                            <td>7.0000</td>
                                        </tr>
                                        <tr data-id="54" data-volume="1" data-amount="1000" onclick="quick_buy(this)">
                                            <td>1,000.0000</td>
                                            <td>1</td>
                                            <td>1,000.0000</td>
                                        </tr>
                                        <tr data-id="53" data-volume="2" data-amount="1" onclick="quick_buy(this)">
                                            <td>2.0000</td>
                                            <td>2</td>
                                            <td>1.0000</td>
                                        </tr>
                                        <tr data-id="51" data-volume="50" data-amount="50" onclick="quick_buy(this)">
                                            <td>2,500.0000</td>
                                            <td>50</td>
                                            <td>50.0000</td>
                                        </tr>
                                        <tr data-id="47" data-volume="0.2" data-amount="200" onclick="quick_buy(this)">
                                            <td>40.0000</td>
                                            <td>0.2</td>
                                            <td>200.0000</td>
                                        </tr>
                                        <tr data-id="46" data-volume="0.1" data-amount="200" onclick="quick_buy(this)">
                                            <td>20.0000</td>
                                            <td>0.1</td>
                                            <td>200.0000</td>
                                        </tr>
                                        <tr data-id="45" data-volume="1" data-amount="200" onclick="quick_buy(this)">
                                            <td>200.0000</td>
                                            <td>1</td>
                                            <td>200.0000</td>
                                        </tr>
                                        <tr data-id="43" data-volume="100" data-amount="0.01" onclick="quick_buy(this)">
                                            <td>1.0000</td>
                                            <td>100</td>
                                            <td>0.0100</td>
                                        </tr>
                                        <tr data-id="42" data-volume="1" data-amount="100" onclick="quick_buy(this)">
                                            <td>100.0000</td>
                                            <td>1</td>
                                            <td>100.0000</td>
                                        </tr>
                                        <tr data-id="38" data-volume="0.004" data-amount="8000" onclick="quick_buy(this)">
                                            <td>32.0000</td>
                                            <td>0.004</td>
                                            <td>8,000.0000</td>
                                        </tr>
                                        <tr data-id="32" data-volume="10" data-amount="7" onclick="quick_buy(this)">
                                            <td>70.0000</td>
                                            <td>10</td>
                                            <td>7.0000</td>
                                        </tr>
                                        <tr data-id="31" data-volume="2" data-amount="2" onclick="quick_buy(this)">
                                            <td>4.0000</td>
                                            <td>2</td>
                                            <td>2.0000</td>
                                        </tr>
                                        <tr data-id="30" data-volume="88" data-amount="0" onclick="quick_buy(this)">
                                            <td>0.0000</td>
                                            <td>88</td>
                                            <td>0.0000</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <div class="col s12 m6">
                            <div>
                                <h4><strong>Sell Orders</strong></h4>
                            </div>
                            <div>
                                <table class="table centered striped bordered">
                                    <thead>
                                        <tr>
                                            <th><b>Ask</b></th>
                                            <th><b>Volume</b></th>
                                            <th><b>Amount</b></th>
                                        </tr>
                                    </thead>
                                    <tbody class="order_book" id="buy_orders">
                                        <tr data-id="74" data-volume="500" data-amount="66" onclick="quick_buy(this)">
                                            <td>33,000.0000</td>
                                            <td>500</td>
                                            <td>66.0000</td>
                                        </tr>
                                        <tr data-id="71" data-volume="20" data-amount="50" onclick="quick_buy(this)">
                                            <td>1,000.0000</td>
                                            <td>20</td>
                                            <td>50.0000</td>
                                        </tr>
                                        <tr data-id="69" data-volume="10" data-amount="12" onclick="quick_buy(this)">
                                            <td>120.0000</td>
                                            <td>10</td>
                                            <td>12.0000</td>
                                        </tr>
                                        <tr data-id="68" data-volume="1" data-amount="100" onclick="quick_buy(this)">
                                            <td>100.0000</td>
                                            <td>1</td>
                                            <td>100.0000</td>
                                        </tr>
                                        <tr data-id="56" data-volume="6" data-amount="66" onclick="quick_buy(this)">
                                            <td>396.0000</td>
                                            <td>6</td>
                                            <td>66.0000</td>
                                        </tr>
                                        <tr data-id="55" data-volume="6" data-amount="7" onclick="quick_buy(this)">
                                            <td>42.0000</td>
                                            <td>6</td>
                                            <td>7.0000</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 trade">
            <div class="card black">
                <div class="card-action top">
                    <big><strong class="white-text">Trade</strong></big>
                </div>
                <div class="card-content">
                    <div class="row inputbox">
                        <div class="col s12 m12 l12 xl6">
                            <div class="card-panel">
                                <span class="text-bolder">USD Balance :33,688.00</span>
                                <div class="input-field">
                                    <input id="email" type="text">
                                    <label for="email">Volume</label>
                                    <span class="helper-text" data-success="right">Helper text</span>
                                </div>
                                <span class="text-bolder">Lowest Ask :0.00</span>
                                <div class="input-field">
                                    <input id="email" type="text">
                                    <label for="email">Price</label>
                                    <span class="helper-text" data-success="right">Helper text</span>
                                </div>

                                <button href="" class="btn green full-width" id="login_btn">BUY<i class="icon-arrow-right14 position-right"></i></button>
                                <br>
                            </div>
                        </div>
                        <div class="col s12 m12 l12 xl6">
                            <div class="card-panel">
                                <span><small class="text-bolder">NCA Balance :0</small></span>
                                <div class="input-field">
                                    <input id="email" type="text">
                                    <label for="email">Volume</label>
                                    <span class="helper-text" data-success="right">Helper text</span>
                                </div>
                                <span><small class="text-bolder">Highest Bid :0.00</small></span>
                                <div class="input-field">
                                    <input id="email" type="text">
                                    <label for="email">Price</label>
                                    <span class="helper-text" data-success="right">Helper text</span>
                                </div>
                                <button href="" class="btn green full-width" id="login_btn">SELL<i class="icon-arrow-right14 position-right"></i></button>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card white">
                <div class="card-action top">
                    <big><strong>My Pending Orders</strong></big>
                </div>
                <div class="card-content">
                    <table id="" class="table striped highlight">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Type</th>
                                <th>Price</th>
                                <th>Volume</th>
                                <th>Time</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>74</td>
                                <td>
                                    Bid
                                </td>
                                <td>33000</td>
                                <td>500</td>
                                <td>2018-04-23 18:28:52</td>
                                <td><a href="market/74/cancel" class="delete">
                                                        <i data-toggle="tooltip" class="fa fa-times"
                                                           aria-hidden="true"
                                                           style="color: #797474" title=""
                                                           data-original-title="Cancel"></i>
                                                    </a></td>
                            </tr>
                            <tr>
                                <td>71</td>
                                <td>
                                    Bid
                                </td>
                                <td>1000</td>
                                <td>20</td>
                                <td>2018-04-23 13:35:43</td>
                                <td><a href="market/71/cancel" class="delete">
                                                        <i data-toggle="tooltip" class="fa fa-times"
                                                           aria-hidden="true"
                                                           style="color: #797474" title=""
                                                           data-original-title="Cancel"></i>
                                                    </a></td>
                            </tr>
                            <tr>
                                <td>69</td>
                                <td>
                                    Bid
                                </td>
                                <td>120</td>
                                <td>10</td>
                                <td>2018-04-23 09:49:03</td>
                                <td><a href="market/69/cancel" class="delete">
                                                        <i data-toggle="tooltip" class="fa fa-times"
                                                           aria-hidden="true"
                                                           style="color: #797474" title=""
                                                           data-original-title="Cancel"></i>
                                                    </a></td>
                            </tr>
                            <tr>
                                <td>56</td>
                                <td>
                                    Bid
                                </td>
                                <td>396</td>
                                <td>6</td>
                                <td>2018-04-20 14:09:36</td>
                                <td><a href="market/56/cancel" class="delete">
                                                        <i data-toggle="tooltip" class="fa fa-times"
                                                           aria-hidden="true"
                                                           style="color: #797474" title=""
                                                           data-original-title="Cancel"></i>
                                                    </a></td>
                            </tr>
                            <tr>
                                <td>55</td>
                                <td>
                                    Bid
                                </td>
                                <td>42</td>
                                <td>6</td>
                                <td>2018-04-20 14:09:16</td>
                                <td><a href="market/55/cancel" class="delete">
                                                        <i data-toggle="tooltip" class="fa fa-times"
                                                           aria-hidden="true"
                                                           style="color: #797474" title=""
                                                           data-original-title="Cancel"></i>
                                                    </a></td>
                            </tr>
                            <tr>
                                <td>54</td>
                                <td>
                                    Bid
                                </td>
                                <td>1000</td>
                                <td>1</td>
                                <td>2018-04-20 12:26:17</td>
                                <td><a href="market/54/cancel" class="delete">
                                                        <i data-toggle="tooltip" class="fa fa-times"
                                                           aria-hidden="true"
                                                           style="color: #797474" title=""
                                                           data-original-title="Cancel"></i>
                                                    </a></td>
                            </tr>
                            <tr>
                                <td>53</td>
                                <td>
                                    Bid
                                </td>
                                <td>2</td>
                                <td>2</td>
                                <td>2018-04-20 11:23:24</td>
                                <td><a href="market/53/cancel" class="delete">
                                                        <i data-toggle="tooltip" class="fa fa-times"
                                                           aria-hidden="true"
                                                           style="color: #797474" title=""
                                                           data-original-title="Cancel"></i>
                                                    </a></td>
                            </tr>
                            <tr>
                                <td>51</td>
                                <td>
                                    Bid
                                </td>
                                <td>2500</td>
                                <td>50</td>
                                <td>2018-04-20 07:16:58</td>
                                <td><a href="market/51/cancel" class="delete">
                                                        <i data-toggle="tooltip" class="fa fa-times"
                                                           aria-hidden="true"
                                                           style="color: #797474" title=""
                                                           data-original-title="Cancel"></i>
                                                    </a></td>
                            </tr>
                            <tr>
                                <td>47</td>
                                <td>
                                    Bid
                                </td>
                                <td>40</td>
                                <td>0.2</td>
                                <td>2018-04-19 22:15:52</td>
                                <td><a href="market/47/cancel" class="delete">
                                                        <i data-toggle="tooltip" class="fa fa-times"
                                                           aria-hidden="true"
                                                           style="color: #797474" title=""
                                                           data-original-title="Cancel"></i>
                                                    </a></td>
                            </tr>
                            <tr>
                                <td>46</td>
                                <td>
                                    Bid
                                </td>
                                <td>20</td>
                                <td>0.1</td>
                                <td>2018-04-19 22:15:04</td>
                                <td><a href="market/46/cancel" class="delete">
                                                        <i data-toggle="tooltip" class="fa fa-times"
                                                           aria-hidden="true"
                                                           style="color: #797474" title=""
                                                           data-original-title="Cancel"></i>
                                                    </a></td>
                            </tr>
                            <tr>
                                <td>45</td>
                                <td>
                                    Bid
                                </td>
                                <td>200</td>
                                <td>1</td>
                                <td>2018-04-19 22:14:28</td>
                                <td><a href="market/45/cancel" class="delete">
                                                        <i data-toggle="tooltip" class="fa fa-times"
                                                           aria-hidden="true"
                                                           style="color: #797474" title=""
                                                           data-original-title="Cancel"></i>
                                                    </a></td>
                            </tr>
                            <tr>
                                <td>43</td>
                                <td>
                                    Bid
                                </td>
                                <td>1</td>
                                <td>100</td>
                                <td>2018-04-19 15:21:36</td>
                                <td><a href="market/43/cancel" class="delete">
                                                        <i data-toggle="tooltip" class="fa fa-times"
                                                           aria-hidden="true"
                                                           style="color: #797474" title=""
                                                           data-original-title="Cancel"></i>
                                                    </a></td>
                            </tr>
                            <tr>
                                <td>42</td>
                                <td>
                                    Bid
                                </td>
                                <td>100</td>
                                <td>1</td>
                                <td>2018-04-19 13:02:39</td>
                                <td><a href="market/42/cancel" class="delete">
                                                        <i data-toggle="tooltip" class="fa fa-times"
                                                           aria-hidden="true"
                                                           style="color: #797474" title=""
                                                           data-original-title="Cancel"></i>
                                                    </a></td>
                            </tr>
                            <tr>
                                <td>38</td>
                                <td>
                                    Bid
                                </td>
                                <td>32</td>
                                <td>0.004</td>
                                <td>2018-04-17 11:39:00</td>
                                <td><a href="market/38/cancel" class="delete">
                                                        <i data-toggle="tooltip" class="fa fa-times"
                                                           aria-hidden="true"
                                                           style="color: #797474" title=""
                                                           data-original-title="Cancel"></i>
                                                    </a></td>
                            </tr>
                            <tr>
                                <td>32</td>
                                <td>
                                    Bid
                                </td>
                                <td>70</td>
                                <td>10</td>
                                <td>2018-04-13 06:20:42</td>
                                <td><a href="market/32/cancel" class="delete">
                                                        <i data-toggle="tooltip" class="fa fa-times"
                                                           aria-hidden="true"
                                                           style="color: #797474" title=""
                                                           data-original-title="Cancel"></i>
                                                    </a></td>
                            </tr>
                            <tr>
                                <td>31</td>
                                <td>
                                    Bid
                                </td>
                                <td>4</td>
                                <td>2</td>
                                <td>2018-04-13 02:25:33</td>
                                <td><a href="market/31/cancel" class="delete">
                                                        <i data-toggle="tooltip" class="fa fa-times"
                                                           aria-hidden="true"
                                                           style="color: #797474" title=""
                                                           data-original-title="Cancel"></i>
                                                    </a></td>
                            </tr>
                            <tr>
                                <td>30</td>
                                <td>
                                    Bid
                                </td>
                                <td>0</td>
                                <td>88</td>
                                <td>2018-04-13 00:52:12</td>
                                <td><a href="market/30/cancel" class="delete">
                                                        <i data-toggle="tooltip" class="fa fa-times"
                                                           aria-hidden="true"
                                                           style="color: #797474" title=""
                                                           data-original-title="Cancel"></i>
                                                    </a></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
