<div id="market" class="container-fluid">
    <div ng-show="alert" ng-show="alert" class="alert-blue margin lighten-5">
        <div class="row no-margin">
            <p class="col no-margin s11">{{success}}</p>
            <p class="col no-margin s1 right-align"><i ng-click="alert=false" class="fa fa-times"></i></p>
        </div>
    </div>
    <div class="row">

        <div class="col s12 m6 trade">
            <div class="card black">
                <div class="card-action top">
                    <div class="flex space-between">
                        <div class="valign-wrapper">
                            <big><strong class="white-text">Trade <span class="text-upper">{{marketType}}</span></strong></big>
                        </div>
                        <div>
                            <div class="right align-right"><b style="font-size: 0.7em; color: white; line-height: 1em;">Buy : {{buyPrice| number : 2}}<br> Sell : {{sellPrice | number : 2}}</b></div>
                        </div>
                    </div>
                    <!--
                    <div class="row">
                        <div class="col s12 m6">
                            <big><strong class="white-text">Trading In:</strong></big><br>
                            <h2 class="white-text margin-sm-ver">BTC</h2>
                        </div>

                        <div class="col s12 m6 white-text">
                            <div class="input-field ">
                                <i class="fa fa-search prefix"></i>
                                <input autofocus type="text" id="autocomplete-input" class="autocomplete">
                                <label for="autocomplete-input">Change Active Coin</label>
                            </div>
                        </div>
                    </div>
-->
                </div>
                <div class="card-content">
                    <div class="row inputbox">
                        <div class="col s12 m12 l12 xl6">
                            <div class="card-panel">
                                <span class="text-bolder"> Balance :33,688.00</span>
                                <div class="input-field">
                                    <input autofocus ng-change="coinBAmountChange()" ng-model="coinBAmount" id="coinBAmount" type="text">
                                    <label for="coinBAmount">Volume</label>
                                    <span class="helper-text" data-success="right">{{marketType}}</span>
                                </div>
                                <span class="text-bolder">Lowest Ask :0.00</span>
                                <div class="input-field">
                                    <input autofocus ng-change="tradeBAmountChange()" ng-model="tradeBAmount" id="tradeBAmount" type="text">
                                    <label for="tradeBAmount">Price</label>
                                    <span class="helper-text" data-success="right">AUD</span>
                                </div>

                                <button href="" ng-click="buynow()" class="btn green full-width" id="login_btn">BUY<i class="icon-arrow-right14 position-right"></i></button>
                                <br>
                            </div>
                        </div>
                        <div class="col s12 m12 l12 xl6">
                            <div class="card-panel">
                                <span class="text-bolder"><span class="text-upper">{{marketType}}</span> Balance :0
                                </span>
                                <div class="input-field">
                                    <input autofocus ng-change="coinSAmountChange()" ng-model="coinSAmount" id="coinSAmount" type="text">
                                    <label for="coinSAmount">Volume</label>
                                    <span class="helper-text" data-success="right">{{marketType}}</span>
                                </div>
                                <span class="text-bolder">Highest Bid :0.00 </span>
                                <div class="input-field">
                                    <input autofocus ng-change="tradeSAmountChange()" ng-model="tradeSAmount" id="tradeSAmount" type="text">
                                    <label for="tradeSAmount">Price</label>
                                    <span class="helper-text" data-success="right">AUD</span>
                                </div>
                                <button href="" ng-click="sellnow()" class="btn green full-width" id="login_btn">SELL<i class="icon-arrow-right14 position-right"></i></button>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card white">
                <div class="card-action top">
                    <big><strong>My Pending Orders</strong></big>
                </div>
                <div class="card-content">
                    <table id="" class="table striped highlight">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Type</th>
                                <th>Price</th>
                                <th>Volume</th>
                                <th>Time</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="order in pendingOrders">
                                <td>{{$index}}</td>
                                <td>
                                    {{order.type}}
                                </td>
                                <td>
                                    {{order.total}}
                                </td>
                                <td>
                                    {{order.coins_vol}}
                                </td>
                                <td>{{order.trade_date}}</td>
                                <td><a ng-click="deleteOrder(order)" class="delete">
                                                        <i  class="fa fa-times"
                                                           aria-hidden="true"
                                                           style="color: #797474" title=""
                                                           data-original-title="Cancel"></i>
                                                    </a></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card white">
                <div class="card-action top">
                    <big><strong>Order Book</strong></big>
                </div>
                <div class="card-content">
                    <div class="row">
                        <div class="col s12">
                            <div>
                                <h4><strong>Sell Orders</strong></h4>
                            </div>
                            <div>
                                <table class="table centered striped bordered">
                                    <thead>
                                        <tr>
                                            <th><b>Ask</b></th>
                                            <th><b>Volume</b></th>
                                            <th><b>Amount</b></th>
                                        </tr>
                                    </thead>
                                    <tbody class="order_book" id="buy_orders">
                                        <tr ng-repeat="order in openSell">
                                            <td>{{order.QUOTED_PRICE}}</td>
                                            <td>{{order.QUANTITY}}</td>
                                            <td>{{order.QUANTITY*order.QUOTED_PRICE}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Are you sure ?</h4>
        <p>{{modalInfo.text_dsc}}</p>
        <br>
        <div style="justify-content: center" class="full-width"><a ng-repeat="button in modalInfo.buttons" class="btn {{button.class}}">{{button.text}}</a></div>
    </div>
    <div class="modal-footer">
        <a class="modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
</div>
