<div id="wallet" class="container-fluid">
    <div ng-show="alert" ng-show="alert" class="alert-blue margin lighten-5">
        <div class="row no-margin">
            <p class="col no-margin s11">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus.</p>
            <p class="col no-margin s1 right-align"><i ng-click="alert=false" class="fa fa-times"></i></p>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card white">
                <div class="card-action top">
                    <big><strong>Order History</strong></big>
                </div>
                <div class="card-content">
                    <table id="" class="table responsive-table centered highlight">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Type</th>
                                <th>Status</th>
                                <th>Market</th>
                                <th>Price</th>
                                <th>Volume</th>
                                <th>Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="order in orders">
                                <td>{{$index}}</td>
                                <td>
                                    {{order.type}}
                                </td>
                                <td>
                                    {{order.status}}
                                </td>
                                <td>
                                    {{order.market}}
                                </td>
                                <td>{{order.total}}</td>
                                <td>{{order.coins_vol}}</td>
                                <td>{{order.trade_date}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
