<div id="wallet" class="container-fluid">
    <div ng-show="alert" ng-show="alert" class="alert-blue margin lighten-5">
        <div class="row no-margin">
            <p class="col no-margin s11">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus.</p>
            <p class="col no-margin s1 right-align"><i ng-click="alert=false" class="fa fa-times"></i></p>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card white">
                <div class="card-action top">
                    <big><strong>Edit Profile</strong></big>
                </div>
                <div class="card-content">
                    <div ng-show="{{!changeProfile || !changePass }}" class="row">
                        <div class="flex center">
                            <a ng-click="changePassAct()" class="btn grey left">Change Password</a>
                            <a ng-click="changeProfileAct()" class="btn blue right">Profile</a>
                        </div>
                    </div>
                    <form ng-show="changeProfile" action="">
                        <div class="row">
                            <div class="col s12 m6">
                                <div class="input-field">
                                    <input autofocus id="fname" type="text" ng-model="profile.name.givenName" class="validate">
                                    <label for="fname">First Name</label>
                                    <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
                                </div>
                            </div>
                            <div class="col s12 m6">
                                <div class="input-field">
                                    <input autofocus id="lname" type="text" ng-model="profile.name.familyName" class="validate">
                                    <label for="lname">Last Name</label>
                                    <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
                                </div>
                            </div>
                            <div class="col s12 m6">
                                <div class="input-field">
                                    <select id="payOption" ng-model="profile['urn:ietf:params:scim:schemas:extension:oracle:2.0:OIG:User'].Gender" class="browser-default">
                                      <option value="" disabled>Choose Your Gender</option>
                                      <option value="Male">MALE</option>
                                      <option value="Female">FEMALE</option>
                                      <option value="Unspecified">UNSPECIFIED</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col s12 m6">
                                <div class="input-field">
                                    <input autofocus id="dob" ng-model="profile['urn:ietf:params:scim:schemas:extension:oracle:2.0:OIG:User'].DateOfBirth" type="text" class="validate">
                                    <label for="dob">Date of Birth</label>
                                    <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
                                </div>
                            </div>
                            <div class="col s12 m6">
                                <div class="input-field">
                                    <input autofocus id="country" ng-model="profile.addresses[0].country" type="text" class="validate">
                                    <label for="country">Country</label>
                                    <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
                                </div>
                            </div>
                            <div class="col s12 m6">
                                <div class="input-field">
                                    <input autofocus id="City" type="text" ng-model="profile['urn:ietf:params:scim:schemas:extension:oracle:2.0:OIG:User'].City" class="validate">
                                    <label for="City">City</label>
                                    <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
                                </div>
                            </div>
                            <div class="col s12 m6">
                                <div class="input-field">
                                    <input autofocus id="Address" type="text" ng-model="profile['urn:ietf:params:scim:schemas:extension:oracle:2.0:OIG:User'].AddressLine1" class="validate">
                                    <label for="Address">Address</label>
                                    <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
                                </div>
                            </div>
                            <div class="col s12 m6">
                                <div class="input-field">
                                    <input autofocus id="Phone" type="text" ng-model="profile.phoneNumbers[0].value" class="validate">
                                    <label for="Phone">Primary Phone</label>
                                    <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
                                </div>
                            </div>
                            <div class="col s12 m6">
                                <div class="input-field">
                                    <div class="input-field">
                                        <input autofocus disabled ng-model="profile.emails[0].value" id="disabled" type="text" class="validate">
                                        <span class="helper-text">Registered Email</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12 m6">
                                <div class="input-field">
                                    <input autofocus id="Password" type="password">
                                    <label for="Password">Current Password</label>
                                    <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
                                </div>
                            </div>
                            <div class="col s12">
                                <div class="row"><a ng-click="cancelbox()" class="btn grey left">Cancel</a><a ng-click="test()" class="btn blue right">Save</a></div>
                            </div>
                        </div>
                    </form>
                    <form ng-show="changePass" action="">
                        <div class="row">
                            <div class="col s12 m6">
                                <div class="input-field">
                                    <input autofocus id="Password" type="password">
                                    <label for="Password">Current Password</label>
                                    <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
                                </div>
                            </div>
                            <div class="col s12 m6">
                                <div class="input-field">
                                    <input autofocus id="NWPassword" type="password">
                                    <label for="NWPassword">New Password</label>
                                    <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
                                </div>
                            </div>
                            <div class="col s12 m6">
                                <div class="input-field">
                                    <input autofocus id="cNWPassword" type="password">
                                    <label for="cNWPassword">Repeat Password</label>
                                    <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
                                </div>
                            </div>
                            <div class="col s12">
                                <div class="row"><a ng-click="cancelbox()" class="btn grey left">Cancel</a><a ng-click="test()" class="btn blue right">Save</a></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
