<div id="wallet" class="container-fluid">
    <div class="alert-blue margin lighten-5">
        <div class="row no-margin">
            <p class="col no-margin s11">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus.</p>
            <p class="col no-margin s1 right-align"><i class="fa fa-times"></i></p>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card white">
                <div class="card-action top">
                    <big><strong>Edit Profile</strong></big>
                </div>
                <div class="card-content">
                    <form action="">
                        <div class="row">
                            <div class="col s12 m6">
                                <div class="input-field">
                                    <input id="fname" type="text" class="validate">
                                    <label for="fname">First Name</label>
                                    <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
                                </div>
                            </div>
                            <div class="col s12 m6">
                                <div class="input-field">
                                    <input id="lname" type="text" class="validate">
                                    <label for="lname">Last Name</label>
                                    <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
                                </div>
                            </div>
                            <div class="col s12 m6">
                                <div class="input-field">
                                    <p>Gender <br><br> </p>
                                    <p>
                                        <label>
                                      <input class="with-gap" name="group3" type="radio" checked />
                                      <span>Male</span>
                                    </label>
                                        <label>
                                      <input class="with-gap" name="group3" type="radio" checked />
                                      <span>Female</span>
                                    </label>
                                        <label>
                                      <input class="with-gap" name="group3" type="radio" checked />
                                      <span>Others</span>
                                    </label>
                                    </p>
                                </div>
                            </div>
                            <div class="col s12 m6">
                                <div class="input-field">
                                    <input id="dob" type="text" class="validate">
                                    <label for="dob">Date of Birth</label>
                                    <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
                                </div>
                            </div>
                            <div class="col s12 m6">
                                <div class="input-field">
                                    <input id="country" type="text" class="validate">
                                    <label for="country">Country</label>
                                    <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
                                </div>
                            </div>
                            <div class="col s12 m6">
                                <div class="input-field">
                                    <input id="City" type="text" class="validate">
                                    <label for="City">City</label>
                                    <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
                                </div>
                            </div>
                            <div class="col s12 m6">
                                <div class="input-field">
                                    <input id="Address" type="text" class="validate">
                                    <label for="Address">Address</label>
                                    <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
                                </div>
                            </div>
                            <div class="col s12 m6">
                                <div class="input-field">
                                    <input id="Phone" type="text" class="validate">
                                    <label for="Phone">Primary Phone</label>
                                    <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
                                </div>
                            </div>
                            <div class="col s12 m6">
                                <div class="input-field">
                                    <div class="input-field">
                                        <input disabled value="somestory@some.in" id="disabled" type="text" class="validate">
                                        <span class="helper-text">Registered Email</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12 m6">
                                <div class="input-field">
                                    <input id="Password" type="password">
                                    <label for="Password">Current Password</label>
                                    <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
                                </div>
                            </div>
                            <div class="col s12 m6">
                                <div class="input-field">
                                    <input id="NWPassword" type="password">
                                    <label for="NWPassword">New Password</label>
                                    <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
                                </div>
                            </div>
                            <div class="col s12 m6">
                                <div class="input-field">
                                    <input id="cNWPassword" type="password">
                                    <label for="cNWPassword">Repeat Password</label>
                                    <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
                                </div>
                            </div>
                            <div class="col s12">
                                <div class="row"><a href="" class="btn grey left">Cancel</a><a href="" class="btn blue right">Save</a></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
