<div id="login" class="valign-wrapper container-fluid">
    <div class="container-fluid">
        <div class="mx-auto" style="max-width: 420px;">
            <div class="card-panel">
                <div class="center">
                    <img src="/logo.png" width="46px" height="46px" alt="">
                </div>
                <h5 class="center">cryptocentric</h5>
                <form>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" type="email" class="validate">
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" type="email" class="validate">
                            <label for="email">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" type="email" class="validate">
                            <label for="email">Confirm Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" type="email" class="validate">
                            <label for="email">Contact</label>
                        </div>
                    </div>

                    <div class="row">
                        <button class="btn blue full-width" id="login_btn">Register <i class="icon-arrow-right14 position-right"></i></button></div>

                    <div class="row">
                        <div class="content-divider text-muted"><span>Already registered?</span></div>
                    </div>
                    <div class="row">
                        <button href="#!/login" class="btn green full-width" id="login_btn">Login <i class="icon-arrow-right14 position-right"></i></button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
