<div id="wallet" class="container-fluid">
    <div class="alert-blue margin lighten-5">
        <div class="row no-margin">
            <p class="col no-margin s11">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus.</p>
            <p class="col no-margin s1 right-align"><i class="fa fa-times"></i></p>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card white">
                <div class="card-action top">
                    <big><strong>Enable 2FA</strong></big>
                </div>
                <div class="card-content">
                    <div class="row">
                        <div class="col s12">
                            <a href="" class="btn blue left">ENABLE 2 FA</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
