<div id="wallet" class="container-fluid">
    <div ng-show="alert" ng-show="alert" class="alert-blue margin lighten-5">
        <div class="row no-margin">
            <p class="col no-margin s11">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus.</p>
            <p class="col no-margin s1 right-align"><i ng-click="alert=false" class="fa fa-times"></i></p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m3">
            <div class="card-panel white">
                <ul class="collection wallets">
                    <li class="collection-item">
                        <div class="flex">
                            <div class="input-field">
                                <i class="fa fa-search prefix"></i>
                                <input ng-model="filterWallets" id="search1" type="text" class="validate">
                                <label for="search1">Search</label>
                            </div>
                        </div>
                    </li>
                    <!--
                    <li class="collection-item" ng-class=" walletName=='usd'? 'selected' : ''">
                        <a href="#!/wallet/usd">
                            <div class="flex">
                                <div class="wallet-icon blue-text margin-sm-horiz"><i class="fa fa-envelope"></i></div>
                                <p class="text-bolder"><big class="text-normal">USD Wallet</big><br>Balance: 33,668.00<br>Locked: 33,668.00
                                </p>
                            </div>
                        </a>
                    </li>
                    -->
                    <li ng-repeat="item in wallets | filter: filterWallets" class="collection-item" ng-class="(walletName == item.id) ? 'selected' : 'none'">
                        <a ng-href="#!/wallet/{{item.id}}">
                            <div class="flex">
                                <div class="wallet-icon blue-text margin-sm-horiz"><i class="fa fa-envelope"></i></div>
                                <p class="text-bolder"><big class="text-normal"><span class="text-upper">{{item.id}}</span> Wallet</big><br>Balance: {{item.bal}}<br>Locked: {{item.locked}}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col s12 m9">
            <div class="card white">
                <div class="card-action top">
                    <div class="margin-sm-ver">
                        <big><span class="text-upper">{{walletName}}</span> {{action ? action : 'Wallet'}} </big>
                        <span class="right valign-wrapper">
                        <a ng-click="deposit()" class="waves-effect waves-light btn margin-sm-horiz">Deposit</a> <a ng-click="withdraw()" class="waves-effect waves-light btn ">Withdraw</a>
                        </span>
                    </div>
                </div>

                <div ng-show="transbox" class="card-content transactions">
                    <div class="nav-tabs">
                        <ul class="tabs full-sz" style="overflow-x: hidden;">
                            <li class="tab"><a class="active" href="#deposits">Deposit History</a></li>
                            <li class="tab"><a class="" href="#withdrawns">Withdraw History</a></li>
                            <div class="indicator"></div>
                        </ul>
                        <br><br>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <div class="input-field">
                                <i class="fa fa-search prefix"></i>
                                <input id="search2" type="text" class="validate">
                                <label for="search2">Search</label>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="input-field">
                                <select id="rowval">
                                  <option value="1" selected>10</option>
                                  <option value="2">20</option>
                                  <option value="3">50</option>
                                </select>
                                <label>Records per Page</label>
                            </div>
                        </div>
                    </div>
                    <div id="transacts">
                        <div>Change from here below {{walletName}}</div>
                        <div id="deposits" class="row">
                            <div class="col s12">
                                <table id="" class="table responsive-table highlight">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Time</th>
                                            <th>Amount</th>
                                            <th>From</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>11</td>
                                            <td>2018-04-20 05:04:45</td>
                                            <td>10000</td>
                                            <td>
                                                ETH (dsf- dfasrqe114141)
                                            </td>
                                            <td>
                                                Done
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>2018-04-20 05:03:49</td>
                                            <td>100000</td>
                                            <td>
                                                ETH (dsf- dfasrqe114141)
                                            </td>
                                            <td>
                                                Done
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>9</td>
                                            <td>2018-04-17 11:02:08</td>
                                            <td>10</td>
                                            <td>
                                                ETH (dsf- dfasrqe114141)
                                            </td>
                                            <td>
                                                Done
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td>2018-04-16 13:20:40</td>
                                            <td>100</td>
                                            <td>
                                                ETH (dsf- dfasrqe114141)
                                            </td>
                                            <td>
                                                Done
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>2018-04-14 17:33:24</td>
                                            <td>11111</td>
                                            <td>
                                                ETH (dsf- dfasrqe114141)
                                            </td>
                                            <td>
                                                Done
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>2018-04-14 17:33:00</td>
                                            <td>12222</td>
                                            <td>
                                                ETH (dsf- dfasrqe114141)
                                            </td>
                                            <td>
                                                Done
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>2018-04-13 02:26:25</td>
                                            <td>1111111</td>
                                            <td>
                                                ETH (dsf- dfasrqe114141)
                                            </td>
                                            <td>
                                                Pending
                                                <a href="wallet/deposit/5/cancel" class="delete">
                                                            <i data-toggle="tooltip" class="fa fa-times"
                                                               aria-hidden="true"
                                                               style="color: #797474" title=""
                                                               data-original-title="Cancel"></i>
                                                            </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>2018-04-11 22:01:43</td>
                                            <td>500</td>
                                            <td>
                                                ETH (dsf- dfasrqe114141)
                                            </td>
                                            <td>
                                                Pending
                                                <a href="wallet/deposit/4/cancel" class="delete">
                                                            <i data-toggle="tooltip" class="fa fa-times"
                                                               aria-hidden="true"
                                                               style="color: #797474" title=""
                                                               data-original-title="Cancel"></i>
                                                        </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>2018-04-10 23:14:42</td>
                                            <td>10</td>
                                            <td>
                                                ETH (dsf- dfasrqe114141)
                                            </td>
                                            <td>
                                                Processing
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>2018-04-10 14:48:48</td>
                                            <td>100</td>
                                            <td>
                                                ETH (dsf- dfasrqe114141)
                                            </td>
                                            <td>
                                                Pending
                                                <a href="wallet/deposit/2/cancel" class="delete">
                                                            <i data-toggle="tooltip" class="fa fa-times"
                                                               aria-hidden="true"
                                                               style="color: #797474" title=""
                                                               data-original-title="Cancel"></i>
                                                        </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>2018-04-04 21:02:04</td>
                                            <td>2000</td>
                                            <td>
                                                -
                                            </td>
                                            <td>
                                                Done
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="withdrawns" class="row">

                            <div class="col s12">
                                <table id="" class="table responsive-table highlight">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Time</th>
                                            <th>Account</th>
                                            <th>Amount</th>
                                            <th>Fees</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>9</td>
                                            <td>2018-04-23 17:08:10</td>
                                            <td>
                                                ETH (asdasdasd- asdasdasd)
                                            </td>
                                            <td>9900</td>
                                            <td>100</td>
                                            <td>
                                                Done
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td>2018-04-23 09:48:29</td>
                                            <td>
                                                ETH (asdasdasd- asdasdasd)
                                            </td>
                                            <td>990</td>
                                            <td>10</td>
                                            <td>
                                                Done
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>2018-04-23 01:15:56</td>
                                            <td>
                                                ETH (dsf- dfasrqe114141)
                                            </td>
                                            <td>100</td>
                                            <td>0</td>
                                            <td>
                                                Pending
                                                <a href="wallet/withdrawal/6/cancel" class="delete">
                                                            <i data-toggle="tooltip" class="fa fa-times"
                                                               aria-hidden="true"
                                                               style="color: #797474" title=""
                                                               data-original-title="Cancel"></i>
                                                        </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>2018-04-22 20:31:45</td>
                                            <td>
                                                ETH (dsf- dfasrqe114141)
                                            </td>
                                            <td>1</td>
                                            <td>0</td>
                                            <td>
                                                Pending
                                                <a href="wallet/withdrawal/5/cancel" class="delete">
                                                            <i data-toggle="tooltip" class="fa fa-times"
                                                               aria-hidden="true"
                                                               style="color: #797474" title=""
                                                               data-original-title="Cancel"></i>
                                                        </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>2018-04-20 20:08:57</td>
                                            <td>
                                                ETH (dsf- dfasrqe114141)
                                            </td>
                                            <td>100</td>
                                            <td>0</td>
                                            <td>
                                                Pending
                                                <a href="wallet/withdrawal/4/cancel" class="delete">
                                                            <i data-toggle="tooltip" class="fa fa-times"
                                                               aria-hidden="true"
                                                               style="color: #797474" title=""
                                                               data-original-title="Cancel"></i>
                                                        </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>2018-04-16 21:27:59</td>
                                            <td>
                                                ETH (dsf- dfasrqe114141)
                                            </td>
                                            <td>10</td>
                                            <td>0</td>
                                            <td>
                                                Done
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>2018-04-16 07:01:18</td>
                                            <td>
                                                ETH (dsf- dfasrqe114141)
                                            </td>
                                            <td>100</td>
                                            <td>0</td>
                                            <td>
                                                Done
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>2018-04-12 12:31:59</td>
                                            <td>
                                                ETH (dsf- dfasrqe114141)
                                            </td>
                                            <td>10</td>
                                            <td>0</td>
                                            <td>
                                                Cancelled
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-content" ng-if="depositbox">
                    <div class="row">
                        <div class="input-field col s12">
                            <select id="payOption" class="browser-default">
                              <option value="" selected>Choose Payment Method</option>
                              <option value="1">DEBITCARD</option>
                              <option value="2">PAYPAL</option>
                              <option value="3">STRIPE</option>
                            </select>
                        </div>
                        <div class="input-field col s6">
                            <input id="input_text" type="text" data-length="10">
                            <label for="input_text">Amount</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="input_text" type="text" disabled data-length="10">
                            <label for="input_text">Fees</label>
                        </div>

                    </div>
                    <div class="row">
                        <a ng-click="cancel()" class="btn left pink">Cancel</a><a ng-click="DEPOSIT()" class="btn right blue">Deposit</a>
                    </div>
                </div>
                <div class="card-content" ng-if="withdrawbox">
                    <div class="row">
                        <div class="input-field col s12">
                            <select id="wthIn" class="browser-default">
                              <option value="" selected>Choose your Method</option>
                              <option value="1">ETHERS</option>
                              <option value="2">BITCOIN</option>
                            </select>

                        </div>
                        <div class="input-field col s6">
                            <select id="wthTo" class="browser-default">
                                <option value="" disabled selected>Choose your Bank</option>
                                <option value="1">AXIS</option>
                                <option value="2">ICICI</option>
                                <option value="3">NG</option>
                             </select>
                        </div>
                        <div class="input-field col s6">
                            <input id="input_text" type="text" data-length="10">
                            <label for="input_text">Amount</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="input_text" type="text" disabled data-length="10">
                            <label for="input_text">Fee</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="input_text" disabled type="text" data-length="10">
                            <label for="input_text">Total</label>
                        </div>
                    </div>
                    <div class="row">
                        <a ng-click="cancel()" class="btn left pink">Cancel</a><a ng-click="WITHDRAW()" class="btn right blue">Withdraw</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
